{%  load static %}
        <div class="product-area pt-60 pb-50">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product-tab">
                                <ul class="nav li-product-menu">
                                   <li><a class="active" data-toggle="tab" href="#home1"><span>New Arrival</span></a></li>
                                   <li><a data-toggle="tab" href="#home2"><span>Bestseller</span></a></li>
                                   <li><a data-toggle="tab" href="#home3"><span>Featured Products</span></a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="home1" class="tab-pane active show" role="tabpanel">
                            <div class="row">
                                <div class="product-active owl-carousel">
                                    {% for p in  lastest_products %}
                                    <div class="col-lg-12">


                                        <div class="single-product-wrap">
                                            <div class="product-image" style="height: 120px;width: 120px">
                                                <a href="{% url 'product_single' id=p.id %}">
                                                    <img src="{{ p.ImageUrl }}">
                                                </a>
                                                <span class="sticker" style="margin-right: 75px;margin-top: -20px">New</span>
                                            </div>
                                            <div class="product_desc">
                                                <div class="product_desc_info">
                                                    <div class="product-review">
                                                        <h5 class="manufacturer">
                                                           <a href="">{{ p.category}}</a>
                                                        </h5>
                                                        <div class="rating-box">
                                                            <ul class="rating">
                                                                <li><i class="fa fa-star{%if p.average_review < 1%}-o{%endif%}"></i>
                                                    </li>
                                                    <li><i class="fa fa-star{%if p.average_review < 2%}-o{%endif%}"></i>
                                                    </li>
                                                    <li><i class="fa fa-star{%if p.average_review < 3%}-o{%endif%}"></i>
                                                    </li>
                                                    <li><i class="fa fa-star{%if p.average_review < 4%}-o{%endif%}"></i>
                                                    </li>
                                                    <li><i class="fa fa-star{%if p.average_review < 5%}-o{%endif%}"></i>
                                                    </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <h4><a class="product_name" href="{% url 'product_single' id=p.id %}">{{ p.title }}</a></h4>
                                                    <div class="price-box">
                                                        <span class="new-price">৳ {{ p.new_price }}</span>
                                                    </div>
                                                </div>
                                                <div class="add-actions" style="margin-left: 15%">
                                                    <ul class="add-actions-link" >
                                                        <li class="add-cart active"><a href="{% url 'Add_to_Shoping_cart'  id=p.id%}">Add to cart</a></li>
                                                    <li><a href="{% url 'product_single' id=p.id %}"  class="quick-view-btn"><i
                                                        class="fa fa-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                           {% endfor %}


                                </div>
                            </div>
                        </div>
                        <div id="home2" class="tab-pane " role="tabpanel">
                       <div class="row">
                    <div class="product-active owl-carousel">
                        {% for p in products %}
                        <div class="col-lg-12">

                            <div class="single-product-wrap">
                                <div class="product-image" style="height: 120px;width: 120px">
                                    <a href="{%url 'product_single' id=p.id%}">
                                        <img src="{{p.ImageUrl}}" alt="">
                                    </a>
                                    <span class="sticker" style="margin-right: 75px;margin-top: -20px">Best</span>
                                </div>
                                <div class="product_desc">
                                    <div class="product_desc_info">
                                        <div class="product-review">
                                            <h5 class="manufacturer">
                                                <a href="">{{p.category}}</a>
                                            </h5>
                                            <div class="rating-box">
                                                <ul class="rating">
                                                    <li><i class="fa fa-star{%if p.average_review < 1%}-o{%endif%}"></i>
                                                    </li>
                                                    <li><i class="fa fa-star{%if p.average_review < 2%}-o{%endif%}"></i>
                                                    </li>
                                                    <li><i class="fa fa-star{%if p.average_review < 3%}-o{%endif%}"></i>
                                                    </li>
                                                    <li><i class="fa fa-star{%if p.average_review < 4%}-o{%endif%}"></i>
                                                    </li>
                                                    <li><i class="fa fa-star{%if p.average_review < 5%}-o{%endif%}"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h4><a class="product_name"
                                                href="{%url 'product_single' id=p.id%}">{{p.title}}</a></h4>
                                        <div class="price-box">
                                            <span class="new-price">৳ {{p.new_price}}</span>
                                        </div>
                                    </div>
                                    <div class="add-actions" style="margin-left: 15%;">
                                        <ul class="add-actions-link">
                                            <li class="add-cart active">
                                                <a href="{%url 'Add_to_Shoping_cart' id=p.id %}">Add to cart</a></li>
                                            <li><a href="{% url 'product_single' id=p.id %}"  class="quick-view-btn"><i
                                                        class="fa fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
                        <div id="home3" class="tab-pane" role="tabpanel">
                <div  class="row">
                    <div class="product-active owl-carousel">
                        {% for p in tr%}
                        <div class="col-lg-12">

                            <div class="single-product-wrap">
                                <div class="product-image" style="height: 120px;width: 120px">
                                    <a href="{%url 'product_single' id=p.id%}" >
                                        <img src="{{p.ImageUrl}}" alt="">
                                    </a>
                                    <span class="sticker" style="margin-right: 75px;margin-top: -20px">Feature</span>
                                </div>
                                <div class="product_desc">
                                    <div class="product_desc_info">
                                        <div class="product-review">
                                            <h5 class="manufacturer">
                                                <a href="">{{p.category}}</a>
                                            </h5>
                                            <div class="rating-box">
                                                <ul class="rating">
                                                    <li><i class="fa fa-star{%if p.average_review < 1%}-o{%endif%}"></i>
                                                    </li>
                                                    <li><i class="fa fa-star{%if p.average_review < 2%}-o{%endif%}"></i>
                                                    </li>
                                                    <li><i class="fa fa-star{%if p.average_review < 3%}-o{%endif%}"></i>
                                                    </li>
                                                    <li><i class="fa fa-star{%if p.average_review < 4%}-o{%endif%}"></i>
                                                    </li>
                                                    <li><i class="fa fa-star{%if p.average_review < 5%}-o{%endif%}"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h4><a class="product_name"
                                                href="{%url 'product_single' id=p.id%}">{{p.title}}</a></h4>
                                        <div class="price-box">
                                            <span class="new-price">৳ {{p.new_price}}</span>
                                        </div>
                                    </div>
                                    <div class="add-actions" style="margin-left: 15%;">
                                        <ul class="add-actions-link">
                                            <li class="add-cart active">
                                                <a href="{%url 'Add_to_Shoping_cart' id=p.id %}">Add to cart</a></li>
                                               <li><a href="{% url 'product_single' id=p.id %}"  class="quick-view-btn"><i
                                                        class="fa fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        {% endfor %}

                </div>
                </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="static-banner">
                <div class="container">
                    <div class="row">
                    {% for p in sliding_images %}

                        <div class="col-lg-4 col-md-4 text-center">

                            <div class="single-banner">
                                <a href="">
                                   <img src="{{ p.ImageUrl }}"alt="">
                                </a>
                            </div>

                        </div>
                     {% endfor %}

                    </div>
                </div>
            </div>

            <section class="product-area laptop-product pt-60 pb-45">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="li-section-title">
                                <h2>
                                    <span>Flash Sale</span>
                                </h2>

                            </div>
                            <div class="row">
                                <div class="product-active owl-carousel">
                                    {% for p in  flash %}
                                    <div class="col-lg-12">

                                        <div class="single-product-wrap">
                                            <div class="product-image" style="height: 120px;width: 120px">
                                                <a href="{%url 'product_single' id=p.id%}">
                                                    <img src="{{ p.ImageUrl }}">
                                                </a>

                                            </div>
                                            <div class="product_desc">
                                                <div class="product_desc_info">
                                                    <div class="product-review">
                                                        <h5 class="manufacturer">
                                                            <a href="">{{ p.category}}</a>
                                                        </h5>
                                                        <div class="rating-box">
                                                            <ul class="rating">
                                                                        <li><i class="fa fa-star{%if p.average_review < 1%}-o{%endif%}"></i>
                                                    </li>
                                                    <li><i class="fa fa-star{%if p.average_review < 2%}-o{%endif%}"></i>
                                                    </li>
                                                    <li><i class="fa fa-star{%if p.average_review < 3%}-o{%endif%}"></i>
                                                    </li>
                                                    <li><i class="fa fa-star{%if p.average_review < 4%}-o{%endif%}"></i>
                                                    </li>
                                                    <li><i class="fa fa-star{%if p.average_review < 5%}-o{%endif%}"></i>
                                                    </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <h4><a class="product_name" href="{% url 'product_single' id=p.id%}">{{ p.title }}</a></h4>
                                                    <div class="price-box">
                                                        <span class="new-price">৳ {{p.new_price}}</span>
                                                    </div>
                                                  <span class="old-price">৳ {{p.old_price}}</span>
                                                  <span> {{p.discount}}% Off</span>
                                                </div>
                                                <div class="add-actions"style="margin-left: 15%">
                                                    <ul class="add-actions-link">
                                                        <li class="add-cart active">
                                                            <a href="{% url 'Add_to_Shoping_cart' id=p.id %}">Add to cart</a></li>
                                                        <li><a href="{% url 'product_single' id=p.id %}"  class="quick-view-btn"><i
                                                        class="fa fa-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                          {% endfor %}



                                    </div>


                                    </div>

                                    </div>


                                    </div>
                                </div>
                            </div>

            </section>

            <section class="product-area laptop-product tv-audio-product pb-45">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="li-section-title">
                                <h2>
                                    <span>Just For You</span>
                                </h2>

                            </div>
                            <div class="row">
                                <div class="product-active owl-carousel">
                                     {% for p in  jt_y %}
                                    <div class="col-lg-12">

                                        <div class="single-product-wrap">
                                            <div class="product-image" style="height: 120px;width: 120px">
                                                <a href="{%url 'product_single' id=p.id%}">
                                                    <img src="{{ p.ImageUrl }}">
                                                </a>

                                            </div>
                                            <div class="product_desc">
                                                <div class="product_desc_info">
                                                    <div class="product-review">
                                                        <h5 class="manufacturer">
                                                            <a href="">{{ p.category}}</a>
                                                        </h5>
                                                        <div class="rating-box">
                                                            <ul class="rating">
                                                                <li><i class="fa fa-star{%if p.average_review < 1%}-o{%endif%}"></i>
                                                    </li>
                                                    <li><i class="fa fa-star{%if p.average_review < 2%}-o{%endif%}"></i>
                                                    </li>
                                                    <li><i class="fa fa-star{%if p.average_review < 3%}-o{%endif%}"></i>
                                                    </li>
                                                    <li><i class="fa fa-star{%if p.average_review < 4%}-o{%endif%}"></i>
                                                    </li>
                                                    <li><i class="fa fa-star{%if p.average_review < 5%}-o{%endif%}"></i>
                                                    </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <h4><a class="product_name" href="{% url 'product_single' id=p.id%}">{{ p.title }}</a></h4>
                                                    <div class="price-box">
                                                        <span class="new-price">৳ {{ p.new_price }}</span>
                                                    </div>
                                                </div>
                                              <div class="add-actions"style="margin-left: 15%">
                                                    <ul class="add-actions-link">
                                                        <li class="add-cart active">
                                                            <a href="{% url 'Add_to_Shoping_cart' id=p.id %}">Add to cart</a></li>
                                                         <li><a href="{% url 'product_single' id=p.id %}"  class="quick-view-btn"><i
                                                        class="fa fa-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                        </div>

                                    </div>


                                    </div>
                                 {% endfor %}


                                    </div>
                                </div>
                            </div>
                    </div>
                </div>

            </section>

            <section class="product-area trending-product pt-60 pb-45">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12">
                          <div class="li-section-title">
                                <h2>
                                    <span>Trending products</span>
                                </h2>

                            </div>
                            <div class="tab-content tab-content trending-product-content">
                                <div  class="tab-pane show fade in active">
                                    <div class="row">
                                        <div class="product-active owl-carousel">
                                              {% for p in  tr%}
                                            <div class="col-lg-12">
                                                <div class="single-product-wrap">
                                                    <div class="product-image" style="height: 120px;width: 120px">
                                                         <a href="{%url 'product_single' id=p.id%}">
                                                    <img src="{{ p.ImageUrl }}">
                                                </a>


                                                    </div>
                                                    <div class="product_desc">
                                                        <div class="product_desc_info">
                                                            <div class="product-review">
                                                                <h5 class="manufacturer">
                                                                    <a href="">{{ p.category }}</a>
                                                                </h5>
                                                                <div class="rating-box">
                                                                    <ul class="rating">
                                                                         <li><i class="fa fa-star{%if p.average_review < 1%}-o{%endif%}"></i>
                                                    </li>
                                                    <li><i class="fa fa-star{%if p.average_review < 2%}-o{%endif%}"></i>
                                                    </li>
                                                    <li><i class="fa fa-star{%if p.average_review < 3%}-o{%endif%}"></i>
                                                    </li>
                                                    <li><i class="fa fa-star{%if p.average_review < 4%}-o{%endif%}"></i>
                                                    </li>
                                                    <li><i class="fa fa-star{%if p.average_review < 5%}-o{%endif%}"></i>
                                                    </li>

                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <h4><a class="product_name" href="{% url 'product_single' id=p.id%}">{{ p.title }}</a></h4>
                                                            <div class="price-box">
                                                                <span class="new-price">৳ {{ p.new_price }}</span>
                                                            </div>
                                                        </div>
                                                   <div class="add-actions"style="margin-left: 15%">
                                                    <ul class="add-actions-link">
                                                        <li class="add-cart active">
                                                            <a href="{% url 'Add_to_Shoping_cart' id=p.id %}">Add to cart</a></li>
                                                           <li><a href="{% url 'product_single' id=p.id %}"  class="quick-view-btn"><i
                                                        class="fa fa-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                                    </div>
                                                </div>

                                            </div>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
   <section class="product-area trending-product pt-60 pb-45">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12">
                          <div class="li-section-title">
                                <h2>
                                    <span>More To Love</span>
                                </h2>

                            </div>
                            <div class="tab-content tab-content trending-product-content">
                                <div  class="tab-pane show fade in active">
                                    <div class="row">
                                        <div class="product-active owl-carousel">
                                              {% for p in   mr %}
                                            <div class="col-lg-12" >
                                                <div class="single-product-wrap">
                                                    <div class="product-image" style="height: 120px;width: 120px">
                                                         <a href="{%url 'product_single' id=p.id%}">
                                                    <img src="{{ p.ImageUrl }}">
                                                </a>


                                                    </div>
                                                    <div class="product_desc">
                                                        <div class="product_desc_info">
                                                            <div class="product-review">
                                                                <h5 class="manufacturer">
                                                                    <a href="">{{ p.category }}</a>
                                                                </h5>
                                                                <div class="rating-box">
                                                                    <ul class="rating">
                                                                         <li><i class="fa fa-star{%if p.average_review < 1%}-o{%endif%}"></i>
                                                    </li>
                                                    <li><i class="fa fa-star{%if p.average_review < 2%}-o{%endif%}"></i>
                                                    </li>
                                                    <li><i class="fa fa-star{%if p.average_review < 3%}-o{%endif%}"></i>
                                                    </li>
                                                    <li><i class="fa fa-star{%if p.average_review < 4%}-o{%endif%}"></i>
                                                    </li>
                                                    <li><i class="fa fa-star{%if p.average_review < 5%}-o{%endif%}"></i>
                                                    </li>

                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <h4><a class="product_name" href="{% url 'product_single' id=p.id%}">{{ p.title }}</a></h4>
                                                            <div class="price-box">
                                                                <span class="new-price">৳ {{ p.new_price }}</span>
                                                            </div>
                                                        </div>
                                                   <div class="add-actions"style="margin-left: 15%">
                                                    <ul class="add-actions-link">
                                                        <li class="add-cart active">
                                                            <a href="{% url 'Add_to_Shoping_cart' id=p.id %}">Add to cart</a></li>
                                                           <li><a href="{% url 'product_single' id=p.id %}"  class="quick-view-btn"><i
                                                        class="fa fa-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                                    </div>
                                                </div>

                                            </div>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

