 {% load static %}
         <header class="li-header-4">

                <div class="header-top">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-3 col-md-4">
                                <div class="header-top-left">
                                    <ul class="phone-wrap">
                                        <li><span>Telephone Enquiry:</span><a href="#">+8801762226459</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-9 col-md-8">
                                <div class="header-top-right">
                                    <ul class="ht-menu">

                                        <li>
                                            <span class="currency-selector-wrapper">Currency :</span>
                                            <div ><span>BDT(৳)</span></div>

                                        </li>

                                        <li>
                                            <span class="language-selector-wrapper">Language :</span>
                                            <div class=""><span>English</span></div>

                                        </li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="header-middle pl-sm-0 pr-sm-0 pl-xs-0 pr-xs-0">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-3">
                                <div class="logo pb-sm-30 pb-xs-30">
                                    <a href="{% url 'home' %}">
                                        <img src="{%static ''%}images/menu/logo/9.jpg" style="width: 85%" alt="">
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-9 pl-0 ml-sm-15 ml-xs-15">
                                <form action="{%url 'SearchView'%}" class="hm-searchbox" method="post">
                              {%csrf_token%}
                        <select name="cat_id" class="nice-select select-search-category">
                            <option value="0" >All</option>
                            {% load mptt_tags %}
                            {% recursetree category %}
                            {%if node.is_leaf_node %}
                            <option value="{{node.id}}">{{node.title}}</option>
                            {%endif%}
                            {%if not node.is_leaf_node%}
                            <optgroup label="{{node.title}}">
                                {{children}}
                            </optgroup>
                            {%endif%}
                            {% endrecursetree  %}

                        </select>
                        <input type="text" placeholder="Search in Eshop" id="query" name="query">
                        <button class="li-btn" type="submit"><i class="fa fa-search"></i></button>
                    </form>

                                <div class="header-middle-right">
                                    <ul class="hm-menu">

                                        <li class="hm-minicart">
                                            <div class="hm-minicart-trigger"style="margin-right: 30px">
                                    <span class="item-icon"></span>
                                    <span class="item-text">৳ {{total_amount}}
                                    </span>
                                </div>
                                            <div class="minicart">
                                                <ul class="minicart-product-list">
                                                    {% for p in cart_product %}
                                                    <li>
                                                        <a href="product-single.html" class="minicart-product-image">
                                                            <img src="{{ p.product.ImageUrl }}" alt="">
                                                        </a>
                                                        <div class="minicart-product-details">
                                                            <h6><a href="product-single.html">{{ p.product.title }}</a></h6>
                                                            <span>৳{{ p.product.new_price }} x{{ p.quantity }}</span>
                                                        </div>
                                                        <button class="close" title="Remove">
                                                            <a href="{% url 'cart_delete' id=p.id %}">
                                                            <i class="fa fa-close"></i>
                                                            </a>
                                                        </button>
                                                    </li>
                                                    {% endfor %}

                                                </ul>
                                                <p class="minicart-total">SUBTOTAL: <span>৳ {{ total_amount }}</span></p>
                                                <div class="minicart-button">
                                                    <a href="{% url 'cart_detials' %}" class="li-button li-button-fullwidth li-button-dark">
                                                        <span>View Full Cart</span>
                                                    </a>
                                                       {% if user.id is not Nones %}
                                                    <a href="{% url 'OrderCart' %}" class="li-button li-button-fullwidth">
                                                        <span>Checkout</span>
                                                         {% else %}
                                                                     <h6>Must SignIn</h6>
                                                                     {% endif %}
                                                    </a>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

               <div class="header-bottom header-sticky d-none d-lg-block d-xl-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12" style="padding: 7px 0px 7px 0px;">

                                <div class="hb-menu" >
                                    <nav>

                                        <ul>
                                            <a href="{% url 'home' %}"><img src="{%static ''%}images/menu/logo/sd3.png"  style="width: 2%;height: 2.1%;margin-left: 19px;margin-bottom: 9px"></a>
                                           <a href="{% url 'home' %}" style="margin-right:10px;color: lightslategrey;font-size:21px;">Home</a>
                                       <a href="{% url 'about' %}"> <img  src="{%static ''%}images/menu/logo/sd7.png"  style="width: 1.3%;height: 1.3%;margin-bottom: 4px;margin-left: 15px"></a>
                                            <a href="{% url 'about' %}"style="color: lightslategrey;font-size:21px">About Us</a>
                                            <a href="{% url 'contact_dat' %}"><img  src="{%static ''%}images/menu/logo/sd10.png"  style="width: 1.3%;height: 1.3%;margin-bottom: 4px;margin-left: 22px"></a>
                                            <a href="{% url 'contact_dat' %}" style="color: lightslategrey;font-size:21px">Contact Us</a>
                                         <img  src="{%static ''%}images/menu/logo/sd12.png" style="width: 1.4%;height: 1.4%;margin-bottom: 3px;margin-left: 20px">
                                            <li>
                                            <div class="ht-setting-trigger" style="color: lightslategrey;font-size:21px">Account</div>
                                            <div class="setting ht-setting">
                                                <ul class="ht-setting-list">
                                                    {% if user.id  is not None %}
                                                         <li><a href="{% url 'userprofile' %}">Hi {{ request.user.username }}</a></li>
                                                         <li><a href="{% url 'user_logout' %}">Sign Out</a></li>
                                                         <li><a href="{% url 'OrderCart' %}">Checkout</a></li>
                                                       {% else %}
                                                        <li><a href="{% url 'user_login' %}">Sign In</a></li>
                                                        <li><a href="{% url 'user_register' %}">Register</a></li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </li>
                                        </ul>
                                    </nav>
                                </div>

                            </div>
                        </div>
                    </div>
                   </div>


                <div class="mobile-menu-area d-lg-none d-xl-none col-12">
                    <div class="container">
                        <div class="row">
                            <div class="mobile-menu">
                            </div>
                        </div>
                    </div>
                </div>

            </header>
